{% extends "base.html" %}
<!-- Ici nous mettons le contenu de la page -->
{% block content %}
<div class="jumbotron">
  <div class="container center-element bandeau_1">
    <h1>Bienvenue sur <span class="name-color">Event'Immediat</span></h1>
    <p class="text-center text-wd-60">Nous sommes une entreprise spécialisée dans la création et la réalisation d'événements virtuels inoubliables. En choisissant Event'Immediat, vous bénéficiez d'une multitude d'avantages uniques.</p>
  </div>
</div>
{% endblock %}